<h1>Update Auction Details</h1>
<%= form_with model:@auction  do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :date %>
        <%= f.date_field :date %>
    </div>
    <div>
        <%= f.label :status %>
        <%= f.select :status, options_for_select(Auction.statuses.keys, auction.status) %>
    </div>
    <div>
        <%= f.label :amount_collected %>
        <%= f.number_field :amount_collected %>
    </div>
    <%= f.submit "Update" %>
<% end %>

<%= link_to "Home", auctions_path %>
