<h1>Guild Auctions</h1>
<p> Next Events: </p>
<ul>
    <% @scheduled_auctions.each do |auction| %>
        <li>
            on <%= auction.date %>: <%= link_to auction.title, show_auction_path(id:auction.id) %>
        </li> 
    <% end %>
</ul>
<p> Completed Events: </p>
<ul>
    <% @completed_auctions.each do |auction| %>
        <li>
            on <%= auction.date %>: <%= link_to auction.title, show_auction_path(id:auction.id) %>
        </li> 
    <% end %>
</ul>

<%= link_to "New Auction", new_auction_path %>
