<h1>Create New Auction</h1>
<%= form_with model:@auction do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :date %>
        <%= f.date_field :date %>
    </div>
    <div>
        <%= f.label :status %>
        <%= f.select :status, options_for_select(Auction.statuses.keys) %>
    </div>
    <%= f.submit "Create" %>
<% end %>

<%= link_to "Home", auctions_path %>
