<h1>Auction Details</h1>
<h2> <%= @auction.title %> </h2>
<p> Date: <%= @auction.date %> </p>
<p> Status: <%= @auction.status %> </p>
<p> Amount Collected: <%= @auction.amount_collected %> </p>

<%= link_to "Edit Details", edit_auction_path(id:@auction.id)  %> </br>
<%= link_to "Home", auctions_path %>