<div id="<%= dom_id member %>">
  <p>
    <strong>Username:</strong>
    <%= member.username %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= member.rank %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= member.status %>
  </p>

</div>
